@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
.headerLogo h1{
    font-size: 20px;
    margin-top: 20px;
}
    .navLink1{
        display: none;
    }

    .container img{
      max-width: 200px;
    }
    .back_to_top{
        width: 100px;
        height: 100px;
        right: 20px;
        bottom: 100px;
    }
    .callUs img{
        width: 100px;
        height: 100px;
        bottom: 300px;
        right: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .headerLogo h1{
        font-size: 16px;
        margin-top: 20px;
    }
    .navLink1{
        display: none;
    }

    .container img{
        max-width: 200px;
    }
    .back_to_top{
        width: 100px;
        height: 100px;
        right: 20px;
        bottom: 100px;
    }
    .callUs img{
        width: 100px;
        height: 100px;
        bottom: 300px;
        right: 40px;
    }
}

@media only screen and (max-width: 480px) {
    .headerLogo h1 {
        font-size: 18px;
        margin-top: 20px;
    }
    .navLink1{
        display: none;
    }
    .container img{
        max-width: 200px;
    }
    .back_to_top{
        width: 100px;
        height: 100px;
        right: 20px;
        bottom: 100px;
    }
    .callUs img{
        width: 100px;
        height: 100px;
        bottom: 300px;
        right: 40px;
    }
}

@media only screen and (max-width: 320px) {
    .headerLogo h1{
        font-size: 18px;
    }
    .navLink1{
        display: none;
    }
    .container img{
        max-width: 200px;
    }
    .back_to_top{
        width: 100px;
        height: 100px;
        right: 20px;
        bottom: 100px;
    }
    .callUs img{
        width: 100px;
        height: 100px;
        bottom: 300px;
        right: 40px;
    }
}
