@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
.headerLogo h1{
    font-size: 20px;
    margin-top: 20px;
}
    .navLink1{
        display: none;
    }

    .container img{
      max-width: 200px;
    }
    .back_to_top{
        width: 70px;
        height: 70px;
    }
    .callUs{
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .headerLogo h1{
        font-size: 16px;
        margin-top: 20px;
    }
    .navLink1{
        display: none;
    }

    .container img{
        max-width: 200px;
    }
    .back_to_top{
        width: 70px;
        height: 70px;
    }
    .callUs{
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 480px) {
    .headerLogo h1 {
        font-size: 18px;
        margin-top: 20px;
    }
    .navLink1{
        display: none;
    }
    .container img{
        max-width: 200px;
    }
    .back_to_top{
        width: 70px;
        height: 70px;
    }
    .callUs{
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 320px) {
    .headerLogo h1{
        font-size: 18px;
    }
    .navLink1{
        display: none;
    }
    .container img{
        max-width: 200px;
    }
    .back_to_top{
        width: 70px;
        height: 70px;
    }
    .callUs{
        width: 100px;
        height: 100px;
    }
}
