@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
.headerLogo h1{

    margin-top: 5px;
    font-size: 48px;
    margin-left: 40px;
}
    .card{
        margin-right: 0px;
    }
    .navLink{
        display: none;

    }
    .buttonGroup{
        position: relative;
        display: inline-block;
        margin-left: 700px;

    }
    .mobiButton{
        display: block;
        position: relative;
        background-color: #153C3C;
        width: 80px;
        height: 40px;
        margin-top: -10px;
    }
    .mobiButton span,
    .mobiButton span::before,
    .mobiButton span::after{
        position: absolute;
        top: 50%;
        margin-top: -1px;
        margin-left: -35px;
        width:70px ;
        height: 2px;
        background-color:#c9f51b ;
    }
    .mobiButton span::before,
    .mobiButton span::after{
        content: '';
    }
    .mobiButton span::before{
        transform: translateY(-6px);
    }
    .mobiButton span::after{
        transform: translateY(6px);
    }
    .mobiLink{
        display: none;
        position: absolute;
        background-color: #153C3C;
        min-width: 160px;
        z-index: 1;

    }
    .buttonGroup:hover .mobiLink{
        display: block;
    }
    .mobiLink a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .mobiLink a:hover{
        background-color: #153C3C;
    }
    .mobiButton img{
        width: 60px;
        height: 20px;
    }

    .aboutUs{
        font-size: 18px;
    }


    .container img{
      max-width: 200px;
    }
    .back_to_top{
        width: 70px;
        height: 70px;
        right: 20px;

    }
    .back_to_top::before{
       height: 40px;

    }
    .back_to_top::after{
        width: 30px;
        height: 30px;
    }
    .callUs img{
        width: 70px;
        height: 70px;

    }
}

@media only screen and (max-width: 768px) {
    .headerLogo h1{
        margin-top: 5px;
        font-size: 48px;
        margin-left: 40px;
    }
    .navLink{
        display: none;

    }
    .buttonGroup{
        position: relative;
        display: inline-block;
        margin-left: 700px;

    }
    .mobiLink{
        display: none;
        position: absolute;
        background-color: #153C3C;
        min-width: 160px;
        z-index: 1;

    }
    .buttonGroup:hover .mobiLink{
        display: block;
    }
    .mobiLink a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .mobiLink a:hover{
        background-color: #153C3C;
    }
    .mobiButton {
        background-color: white;
        width: 100px;
        height: 20px;

    }
    .mobiButton img{
        width: 60px;
        height: 20px;
    }
    .aboutUs{
        font-size: 18px;
    }

    .container img{
        max-width: 200px;
    }
    .back_to_top{
        width: 70px;
        height: 70px;
        right: 20px;

    }
    .back_to_top::before{
        height: 40px;

    }
    .card{
        margin-right: 0px;
    }
    .back_to_top::after{
        width: 30px;
        height: 30px;
    }
    .callUs img{
        width: 70px;
        height: 70px;

    }
}

@media only screen and (max-width: 480px) {
    .headerLogo h1 {
        margin-top: 5px;
        font-size: 48px;
        margin-left: 40px;
    }
    .navLink{
        display: none;

    }
    .buttonGroup{
        position: relative;
        display: inline-block;
        margin-left: 700px;

    }
    .mobiLink{
        display: none;
        position: absolute;
        background-color: #153C3C;
        min-width: 160px;
        z-index: 1;

    }
    .aboutUs{
        font-size: 18px;
    }
    .buttonGroup:hover .mobiLink{
        display: block;
    }
    .mobiLink a {
        color: #153C3C;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .mobiLink a:hover{
        background-color: #153C3C;
    }
    .mobiButton {
        background-color: white;
        width: 100px;
        height: 20px;

    }
    .mobiButton img{
        width: 60px;
        height: 20px;
    }
    .container img{
        max-width: 200px;
    }
    .back_to_top{
        width: 70px;
        height: 70px;
        right: 20px;
    }
    .back_to_top::before{
        height: 40px;

    }
    .card{
        margin-right: 0px;
    }
    .back_to_top::after{
        width: 30px;
        height: 30px;
    }
    .callUs img{
         width: 70px;
        height: 70px;

    }
}

@media only screen and (max-width: 320px) {
    .headerLogo h1{
        margin-top: 5px;
        font-size: 48px;
        margin-left: 40px;
    }
    .navLink{
        display: none;

    }
    .buttonGroup{
        position: relative;
        display: inline-block;
        margin-left: 700px;

    }
    .mobiLink{
        display: none;
        position: absolute;
        background-color: #153C3C;
        min-width: 160px;
        z-index: 1;

    }
    .aboutUs{
        font-size: 18px;
    }
    .buttonGroup:hover .mobiLink{
        display: block;
    }
    .mobiLink a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .mobiLink a:hover{
        background-color: #153C3C;
    }
    .mobiButton {
        background-color: white;
        width: 100px;
        height: 20px;

    }
    .mobiButton img{
        width: 60px;
        height: 20px;
    }
    .container img{
        max-width: 200px;
    }
    .back_to_top {
        width: 70px;
        height: 70px;
        right: 20px;
    }
    .card{
        margin-right: 0px;
    }
    .back_to_top::before{
        height: 40px;

    }
    .back_to_top::after{
        width: 30px;
        height: 30px;
    }
    .callUs img{
        width: 70px;
        height: 70px;

    }
}
