body{
    margin: 0;
    font-family: 'Montserrat', sans-serif ;
    font-size: 15px;
    line-height: 1.6;
    color: black;
    background-color: #eafdfd;

}
*,
*:before,
*:after{
    box-sizing: border-box;
}
.h1, h3, h4, h5, h6{
    margin: 0 ;
}
h2{
    background-color: #153C3C;
    color:#c9f51b ;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
 /*header*/
.header{
    width: 100%;
    position: absolute;
    max-width: 1200px;
    height: 150px;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    background-color:#153C3C;

}
.headerLogo{
    display: flex;

}
.headerLogo h1{
    color:#c9f51b ;
    margin-left: 100px;
    font-size: 30px;
}
h1:hover {
    color: black;
    cursor: pointer;
}
.headerLogo img{
    margin-top: -40px;
    margin-left: -30px;
    width: 150px;
    height: 150px;
    border: 1px solid #153C3C ;
}
.headerInner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px ;

}
.header_contact{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #c9f51b;

}
/*nav*/
.buttonGroup{
    display: none;
}
nav{
    display: flex;
    justify-content: space-around;
}
.navLink{
    display: inline-block;
    margin: 0 auto;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 10px;
    background-color:#eafdfd ;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: color .3s linear;
    position: relative;
}
.navLink:hover{
    color: #c9f51b;
    cursor: grab;
}
.navLink:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #CAFA0A;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
    opacity: 0;
}
.navLink:hover:after{
  opacity: 1;
}

/*intro*/
.intro{
    width: 100%;
    max-width: 1200px;
    padding-top: 200px;
    margin: 0 auto;
    text-align: center;

}
/*container*/
 .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: white;

}
.container img{
   max-width: 350px;
}
/*documents*/
.documents, .documentList,
.documentList2,
.photoAboutUs,
.videoAboutUs{
    width: 100%;
    max-width: 1200px;
    margin:  0 auto;
}
p{
    margin-left: 25px;
    text-indent: 20px;
}
.documentWrite{
    display: block;
}
.documentWriteAbout{
    background-color: #eafdfd;
    font-size: 20px;
    text-align: left;

}
.aboutUs{
    font-size: 20px;
    text-align: left;
}
.sliderContainer{
    width: 1200px;
    height: 350px;
    margin: 20px auto;
    overflow: hidden;
}
.sliderTrack{
    height: 350px;
    width: 1000px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
    margin: 10px;

}
.sliderTrack img{
    width: 300px;
    height: 350px;
    margin: 20px;
}


.sliderButton{
    text-align: center;
}
.btnNext,
.btnPrev{
    background: #153C3C;
    color:#CAFA0A ;
}
.btnNext:hover,
.btnPrev:hover{
    background:#CAFA0A ;
    color: #153C3C;
}
.video1, .video2{
    margin: 30px;
}
.documentWrite{
    background:#eafdfd;
    text-align: center;
    color: black;
    font-size: 24px;
}

table{
    width: 100%;
    max-width: 1200px;
    font-family: sans-serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 10px;
    background:#eafdfd ;
    color: black;
    border: 2px solid #CAFA0A;
    border-radius: 1px;
    align-items: center;
}
th{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
td{
    padding: 20px;
    background: white;
    text-align: center;
    font-size: 20px;
}
.documentList,
.documentList2,
.videoAboutUs{
    display: flex;
    margin-top: 20px;

}
.documentList img,
.documentList2 img,
.photoAboutUs img,
.videoAboutUs video{
    max-width: 100%;
    transition: transform 0.5s;
}
.documentList img:hover,
.documentList2 img:hover{
   transform: scale(1.3);
}
.photoAboutUs img:hover{
    transform: scale(1.5);
}

/*footer*/
.footer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    background-color:#eafdfd ;
}
.contacts{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 40%;
    margin-right: -100px;
}
. card img:hover{
    transform: scale(1.5);
}
.contactUs{
    width: 40%;
    margin-top: 50px;
    margin-left:-100px;
    text-align: center;

}
.contactIn{
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}
.timeWork{
    font-size: 16px;
    margin-top: 30px;
    margin-left: -60px;
    text-transform: capitalize;
}
.foot{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #153C3C ;
    height: 30px;
}
/*back_to_top*/
.back_to_top{
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    border: 1px solid #153C3C;
    border-radius: 50%;
    background-color: #153C3C;
    /*display: none;*/
}
.back_to_top:hover,
.back_to_top:focus{
    filter: brightness(1.5);
    outline: none;
}
.back_to_top::before,
.back_to_top::after{
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.back_to_top::before{
    width: 3px;
    height: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #CAFA0A;
}
.back_to_top::after{
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%)rotate(45deg);
    border-top: 3px solid #CAFA0A;
    border-left: 3px solid #CAFA0A;
}
/*callUs*/
.callUs{
    position: fixed;
    right: 40px;
    bottom: 300px;
    width: 50px;
    height: 50px;
    color:#153C3C ;
}
.callUs img{
    width: 50px;
    height: 50px;
}
